.App {
  text-align: center;
}
body{
  display: flex;
  margin-top: 50px;
  justify-content: center;
  background-image: linear-gradient(to left, rgb(236, 197, 197), rgb(236, 206, 149), rgb(226, 206, 94), rgb(171, 187, 240));
}
.stic{
  color: rgb(235, 223, 201);
}

.resu{
  border: 1px solid darkkhaki;
  background-color: rgb(235, 197, 228);
  padding: 10px;
  border-radius: 10px;
  font-size: 25px;
  font-weight: bold;
  color: #000;
}
.out{
  border: 1px solid darkkhaki;
  background-color: rgb(247, 229, 214);
  padding: 10px;
  border-radius: 10px;
  font-size: 25px;
  font-weight: bold;
  color: #000;
}
.cover{
  height: 500px;
  width: 300px;
  border: 1px solid white;
  border-radius: 10px;
  background: linear-gradient(rgb(218, 133, 133), #bd9ae1);
}
.round{
  border: 1px solid ghostwhite;
  padding: 20px;
  margin-left: 70px;
  margin-right: 70px;
  border-radius: 50%;
  background-color: white;
  margin-top: 100px;
}
.quiz{
  color: red;
  font-weight: bold;
  background-color: white;
}
.btn{
  padding: 8px 90px 8px 90px;
  margin-top: 180px;
  border-radius: 20px;
  background-color: rgb(227, 58, 58);
  border: none;
  color:  white;
  font-weight: bold;
  font-size: 16px;
}
.btnnnn{
  padding: 8px 90px 8px 90px;
  margin-top: 60px;
  border-radius: 20px;
  background-color: rgb(227, 58, 58);
  border: none;
  color:  white;
  font-weight: bold;
  font-size: 16px;
}

.question {
  background-color: white;
  width: 600px;
  padding: 20px;
  border-radius: 5px;
}
.question_number {
  height: 40px;
  background-color: antiquewhite;
  font-size: 1.3rem;
  font-family: sans-serif;
  line-height: 40px;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
.question_title {
  margin-bottom: 20px;
}
.question_title p {
  font-size: 1.1rem;
  font-family: cursive;
}
.question_options {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
}
.p{
  background-color: #F8CC49;
  color: crimson;
  font-weight: bold;
}
.question_options > div {
  height: 40px;
  border-radius: 10px;
  line-height: 40px;
  font-size: 1.2rem;
  font-family: cursive;
  padding-left: 10px;
  border: 1px solid skyblue;
  cursor: pointer;
  transition: all 0.2s ease;
}
.question_options > div:hover {
  background-color: green;
  color: white;
}.question {
  background-color: white;
  width: 600px;
  padding: 20px;
  border-radius: 5px;
}
.question_number {
  height: 40px;
  background-color: antiquewhite;
  font-size: 1.3rem;
  font-family: sans-serif;
  line-height: 40px;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
.question_title {
  margin-bottom: 20px;
}
.question_title p {
  font-size: 1.1rem;
  font-family: cursive;
}
.question_options {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
}

.question_options > div {
  height: 40px;
  border-radius: 10px;
  line-height: 40px;
  font-size: 1.2rem;
  font-family: cursive;
  padding-left: 10px;
  border: 1px solid rgb(24, 228, 75);
  cursor: pointer;
  transition: all 0.2s ease;
}
.question_options > div:hover {
  background-color: green;
  color: white;
}
.question {
  padding: 20px;
  border-radius: 5px;
}
.question_number {
  height: 40px;
  border-radius: 50%;
  margin: 0 70px 0 70px;
  padding: 20px;
  border: 10px solid #F8CC49;
}
.question_title {
  margin-bottom: 20px;
}
.question_title p {
  font-size: 15px;
  font-family: cursive;
}
.question_options {
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
}
.coverr{
  background-image: url('./components/image.png');
  border-radius: 10px;
  }
.coverdown{
  margin-top: 50px;
  height: 290px;
  border: 1px solid white;
  background-color: white;
  border-radius: 20px;
}

.question_options > div {
  height: 40px;
  border-radius: 10px;
  line-height: 40px;
  font-size: 1.2rem;
  font-family: cursive;
  padding-left: 10px;
  border: 1px solid wheat;
  cursor: pointer;
  transition: all 0.2s ease;
}
.question_options > div:hover {
  background-color: green;
  color: white;
}
.btnn{
  padding: 8px 90px 8px 90px;
  border-radius: 20px;
  background-color: rgb(227, 58, 58);
  border: none;
  color:  white;
  font-weight: bold;
  font-size: 16px;
}
.buttons button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}
.buttons button:nth-child(2) {
  background-color: green;
}
.buttons button:nth-child(1) {
  padding: 8px 90px 8px 90px;
  border-radius: 20px;
  background-color: rgb(227, 58, 58);
  border: none;
  color:  white;
  font-weight: bold;
  font-size: 16px;
}

.submit {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid rgb(253, 143, 69);
  font-weight: bold;
  color: white;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgb(214, 59, 59);
}